.container {
  display: grid;
  grid-template-columns: 300px auto;
  width: 875px;
  height: 600px;
  padding: 0.875rem;
  border-radius: 10px;

  background-color: var(--white);
}

.container main {
  height: 100%;
  position: relative;
}

.container form {
  background-color: var(--white);
  padding: 30px 50px 0 50px;
}

@media (max-width: 685px) {
  .container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
  }

  .container main {
    margin-top: -120px;
    background-color: var(--white);
    border-radius: 20px;
    height: 400px;
  }

  .container form {
    padding: 30px 20px 0 20px;
  }
}
